.container-home-navigation {
  & h1 {
    text-align: center;
    font-size: 90px;
    margin: 10px;
  }
  & a {
    text-decoration: none;
    color: black;
  }
  & nav {
    display: flex;
    justify-content: space-around;
    padding: 2em;
    gap: 5%;
    margin: 0 auto;
    width: 90%;
    border-radius: 15px;
    border: solid black;
  }
  & nav > a {
    border: solid black 2px;
    height: 2em;
    font-size: 32px;
    width: 30%;
    text-align: center;
    align-content: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: black;
    border-radius: 15px;
  }
}

/* * RESPONSIVE  */

@media screen and (max-width: 440px) {
  .container-home-navigation {
    & h1 {
      font-size: 64px;
    }
    & nav {
      padding: 1em;
      background-color: black;
      width: 100%;
      border-radius: 0;
    }
    & nav > a {
      height: 3em;
      border: solid white 2px;
      font-size: 20px;
    }
  }
}
