.container-card-detail {
  border: black solid;
  width: 50%;
  margin: 20% auto;
  border-radius: 15px;
  & figure {
    text-align: center;
  }
  & h3,
  h4 {
    height: 3em;
    align-content: center;
  }
  & h3 {
    font-size: 24px;
    border: solid black;
  }
  & h4 {
    border: solid black;
    width: 50%;
    margin: 0 auto;
    font-size: 20px;
  }
  & p {
    border: solid black;
    height: 100%;
  }
}
